<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
  <title>Inicio de sesión</title>
</head>

<body>
  <img class="wave" src="wave.svg" height="100%">
  <div class="container">
    <div class="img">
      <img src="assets/img/squirril.png">
    </div>
    <div class="login-container">
      <form action="validacion" method="post">
        <img class="avatar" src="bellota.png" alt="login-icon"/>
        <h2>Bienvenido Usuario</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div>
            <h5>Correo electrónico</h5>
            <input class="input" type="email" name="email" />
          </div>
        </div>
        <div class="input-div two">
          <div class="i">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div>
            <h5>Contraseña</h5>
            <input class="input" type="password" name="password"/>
          </div>
        </div>
        <button type="submit" class="btn">
          Ingresar
        </button>
          <div>¿No tienes una cuenta?</div>
          <a href="/registro" class="text-decoration-none text-warning fw-semibold">Registrar</a>
          <div>¿Eres dueño de una tienda?</div>
          <a href="/logintienda" class="text-decoration-none text-warning fw-semibold"> Iniciar Sesión</a>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="uwu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ){ %>
    <script>
      Swal.fire({
        title: '<%= alertTitle%>',
        text: '<%= alertMessage%>',
        icon: '<%= alertIcon%>',
        showConfirmButton: <%= showConfirmButton%> ,
        timer: <%= timer %>
            }).then(() => {
          window.location = '/<%= ruta%>'
        })
    </script>
    <% } %>
      <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (() => {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }
                form.classList.add('was-validated')
              }, false)
            })
          })()
      </script>





</body>

</html>