
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aceptar Recompensas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/fullstyle.css" rel="stylesheet" />
</head>
<body>

    <!-- NAVBAR INICIO -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            
            <a class="navbar-brand fw-bold" href="#page-top"><img class="m-1" src="/assets/img/bellota.png" height="23px" style="padding-right: 1%;" alt="">Acornify</a>
            <a class="navbar-brand" > <%= user.nombre_tienda %></a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="navbar-brand"><a class="nav-link active" aria-current="page" href="/caja">Caja</a></li>
                    <li class="navbar-brand"><a class="nav-link active" aria-current="page" href="/vista_crear_recompensa">Crear Recompensa</a></li>
                    <li class="navbar-brand"><a class="nav-link active" href="/registros_recompensas/<%= user.id_tienda %>">Registros</a></li>
                    <li class="navbar-brand"><a class="nav-link active" href="/vista_aceptar_recompensas/<%= user.id_tienda %>">Pendientes</a></li>
                    
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="/logout"> Cerrar Sesión </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR FINAL -->

    <div class="container-fluid">
        <div class="row">
            <% results.forEach((results) => { %>
                <div class="col-sm-4 mt-2">
                    <div class="card w-75" style="width: 18rem;">
                        <form action="/aceptarrecompensa" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="/uploads/<%= results.imagen %>" class="card-img-top" alt="..." style="width: 60px; height: 60px;" >
                                    </div>
                                    <div class="col-sm-9 mt-3">
                                        <h3 class="card-title" style="margin-left: 5%;"> <%= results.nombre_recom %></h3>
                                    </div>
                                </div>
                                <input type="text" name="idcanje" id="idcanje" value="<%= results.id_canjes%>" hidden>
                                <hr class="border border-success border-1 opacity-50">
                                <p class="card-text mt-3">El cliente <%= results.nombreusuario%> reclamo la recompensa <%= results.nombre_recom %>.<br> Da click en aceptar para finalizar la entrega. </p>
                                <p class="card-text"><small class="text-body-secondary"><%= results.estadocanje ===0 ? 'Pendiente' : 'Completada' %></small></p>                 
                                <p class="card-text"><small class="text-body-secondary">Canjeada el <%= results.fecharda %> </small></p>
                                <% if(results.estadocanje ===0){%>
                                    <button type="submit"  class="btn btn-success w-100" style="border-radius: 20px; width: 70%;">Finalizar entrega</button>
                                <%}%>
                            </div>
                        </form>
                    </div>
                </div>
            <%})%>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>