<% if(user) { %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/c_navbar.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/fullstyle.css" rel="stylesheet" />
    <title>Acornify</title>
</head>
<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        
        <a class="navbar-brand fw-bold" href="#page-top"><img class="m-1" src="/assets/img/bellota.png" height="23px" style="padding-right: 1%;" alt="">Acornify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="/vista_catalogo">Tiendas</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="/vista_historial/<%= user.id_usuario %>">Historial</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="/logout">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
  </nav>
                <!-- Mashead header-->
                <header class="masthead">
                  <div class="container px-5">
                      <div class="row gx-5 align-items-center">
                          <div class="col-lg-12">
                              <!-- Mashead text and app badges-->
                              <div class="mb-5 mb-lg-0 text-center text-lg-center">
                                  <h1 class="display-1 lh-1 mb-3 text-gradient">¡<%= user.nombre_usuario %>!</h1>
                                  <% if(resultsT){  %> 
                                    <h1 class="display-1 lh-1 mb-3 text-gradient">Tienes <span class="text-gradient-purple"><%= resultsT[0].puntos %></span>  puntos</h1>
                                  <%  } %>
                                  <p class="lead fw-normal text-muted mb-5">Este es tu historial de canjeos y compras, podras ver la tienda y cuando se ha generado el canjeo.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </header>
  
    <!--
    <div class="card mb-4">
        <div class="card-body">
            <div class="input-group plf10">
                <input class="form-control" type="text" placeholder="Buscar tiendas" aria-label="Enter search term..." aria-describedby="button-search">
                <button type="button" class="btn btn-primary"> <i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </div>
    -->



    <div class="container-fluid">
        <div class="row">
        <% 
        let maldicion = 1;
        results.forEach((results) => {
          
          maldicion = maldicion + 1; 
          %>
        
          <div class="col-sm-6">
            <div class="card mt-3">
              <div class="row g-0 d-flex">
                <div class="col-12">
                  <a class="text-black" style="text-decoration: none;" data-toggle="collapse" href="#collapse-<%=maldicion%>" onclick="toggleIcon(<%=maldicion%>);">
                    <div class="card-body">
                      <p class="card-text fs-4"><%= results.nombre_tienda %> <%= results.fecha_formateada %></p>
                      <% if(results.tipo_operacion == 'Canje'){ %>
                        <p class="card-text fs-5">Estado: <%= results.estado_canje ===0 ? 'Pendiente' : 'Reclamado' %></p>

                        <p class="card-text text-start fs-3 d-flex justify-content-between">
                          <small class="text-muted"><%= results.nombre_producto %> | <span style="color: red;">-<%= results.puntos %> puntos</span></small>
                          <i id="toggle-icon-<%=maldicion%>" class="fa-solid fa-chevron-down"></i>
                        </p>
                      

                      
                      
                      <% }  else { %>
                        <p class="card-text fs-5">Estado: Recibido</p>
                        <p class="card-text text-start fs-3 d-flex justify-content-between">
                          <small class="text-muted">Puntos recibidos | <span style="color: green;">+<%= results.puntos_compra %> puntos</span> </small>
                          <i id="toggle-icon-<%=maldicion%>" class="fa-solid fa-chevron-down"></i>
                        </p>
                      <% } %>
                      
                      
                    </div>
                  </a>
                </div>
              </div>
              <div class="collapse" id="collapse-<%=maldicion%>">
                <div class="card-body text-black">
                  <hr>
                  <p class="card-text fs-6">Día: <%= results.fecha_formateada%></p>
                  <p class="card-text fs-6">Hora: <%= results.hora_formateada%></p>
                  <p class="card-text fs-6">Tienda ubicada en: <%= results.ubicacion_tienda %></p>
                </div>
              </div>
            </div>
          </div>
        
          <% }) %>
        </div>
    </div>
    <br>

        

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2023</p></div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function toggleIcon(maldicion) {
        var icon = $('#toggle-icon-' + maldicion);
        icon.toggleClass('fa-chevron-down fa-chevron-up');
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 

    <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>


<%}else{%>
    
  <h1>DENEGADOIDE</h1>

<%}%>