<% if(user) { %>
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Producto</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/fullstyle.css" rel="stylesheet" />
</head>
<body>

    <!-- NAVBAR INICIO -->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
      <div class="container px-5">
          
          <a class="navbar-brand fw-bold" href="#page-top"><img class="m-1" src="/assets/img/bellota.png" height="23px" style="padding-right: 1%;" alt="">Acornify</a>
          <a class="navbar-brand" > <%= user.nombre_tienda %></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="bi-list"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="navbar-brand"><a class="nav-link active" aria-current="page" href="/caja">Caja</a></li>
                  <li class="navbar-brand"><a class="nav-link active" aria-current="page" href="/vista_crear_recompensa">Crear Recompensa</a></li>
                  <li class="navbar-brand"><a class="nav-link active" href="/registros_recompensas/<%= user.id_tienda %>">Registros</a></li>
                  <li class="navbar-brand"><a class="nav-link active" href="/vista_aceptar_recompensas/<%= user.id_tienda %>">Pendientes</a></li>
                  
              </ul>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="/logout"> Cerrar Sesión </a></li>
            </ul>
          </div>
      </div>
  </nav>
  <!-- NAVBAR FINAL -->

  <div class="container mt-4">
    <h2>Formulario de Producto</h2>
    <form action="/updaterecompensa" method="POST" enctype="multipart/form-data">
      <% if(results){ %>
      <div class="form-group">
        <input type="text" id="id" name="id" value="<%= user.id_tienda  %>" hidden>
        <input type="text" id="idr" name="idr" value="<%= results[0].id_recompensa%>" hidden>
        <label for="nombreProducto">Nombre del Producto:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" value="<%= results[0].nombre_producto %>" required>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Ingrese una descripción del producto" required value="<%= results[0].descripcion_producto %>" ></input>
      </div>

      <div class="form-group">
        <label for="imagen">Imagen:</label><br>
        <img src="/uploads/<%= results[0].imagen %>" alt="" style="width: 100px; height: 100px;" >
        <input class="form-control" type="file" id="image" name="image" tabindex="1">
          </div>

      <input type="text" value="<%= results[0].imagen %>" id="imgexistente" name="imgexistente" >
  
      <div class="form-group">
        <label for="meta">Meta:</label>
        <input type="number" class="form-control" id="meta" name="meta" placeholder="Ingrese la meta del producto" required value="<%= results[0].meta_canje %>">
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <select class="form-control" id="estado" name="estado" required>
          <option value="">Seleccione el estado</option>
          <option value="0" <% if (results[0].estado === 0) { %> selected <% } %> >Vigente</option>
          <option value="1" <% if (results[0].estado === 1) { %> selected <% } %>>Inactivo</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar</button>
      <%}%>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ){ %>
      <script>
          Swal.fire({
              title: '<%= alertTitle%>',
              text: '<%= alertMessage%>',
              icon: '<%= alertIcon%>',
              showConfirmButton: <%= showConfirmButton%> ,
              timer: <%= timer %>
          }).then(() => {
                  window.location = '/<%= ruta%>'
              })
      </script> 
      <% } %>
      <script>
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (() => {
                  'use strict'
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  const forms = document.querySelectorAll('.needs-validation')
                  // Loop over them and prevent submission
                  Array.from(forms).forEach(form => {
                      form.addEventListener('submit', event => {
                          if (!form.checkValidity()) {
                              event.preventDefault()
                              event.stopPropagation()
                          }
                          form.classList.add('was-validated')
                      }, false)
                  })
              })()
  </script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
<%}else{%>
  <h1>DENEGADOIDE</h1>
<%}%>